<div  data-note_id="<%= postit.id %>" data-grid="<%= grid_id %>" data-top="<%= top %>" data-left="<%= left %>" data-z="<%= z_index %>" class="draggable">
	<div  class="postit" >
		<b><u><%= postit.title %></u></b><br/><%= postit.content %>
		<div class="delete-icon"><%= link_to image_tag('delete-icon3.png', size: '15x15'), note_path(postit), remote: true, method: :delete, title: "Delete note", confirm: "Are you sure?" %></div> 
		<div class="edit-icon"><%= link_to image_tag('magnify.png', size: "25x25"), note_path(postit), title: "Click to inspect" %></div> 
		<div class="tagged-icon">
			<%= render 'notes/tagged_icon', note_id: postit.id, num_tags: postit.tags.count %>
		</div>
	</div>
</div>

