<div class="search">

<%= form_tag search_notes_path(project_id), id: "search_form", method: :get, remote: true do %>
	<%= select_tag "search_type", "<option value='Note content'>Note content</option><option value='Tags'>Tags</option>".html_safe%>
	<%= search_field_tag "str", "", {placeholder: "enter search text", class: "search-field"} %>
	<span class="search-cancel" id="search_cancel">x</span>
	<%= submit_tag "Focus" %>
	<%= submit_tag "Digress" %>
<% end %>
</div>
<script>
$(function(){
$("#str").width(200);
$("#search_type").width(120);
$("#search_cancel").css("position","absolute").position({
	my: "right center",
	at: "right-5 center",
	of: "#str",
	collision: "none"
}).click(function(){
	$("#str").val('');
	$("#search_form").submit();
});
});
</script>
