

<%= render 'tags/choose_tag', all_tags: @all_tags, project_id: @project.id %></td>
<button id="enter_new_note" class="new-note">Add a note</button>
<div class="expand-full-screen"><%= link_to(image_tag("expand_full_screen.png", size: "20x20"), project_notes_path({id: @project, pretty: true})) %></div>
<div class="not-category">NOT Category "<%= @tag.name %>"</div>
<div class="category-name">Category "<%= @tag.name %>"</div>

<div id="table" class="note-table">
	<div id="source" class="source-table">
		<%= render "notes/arrange_notes_on_table", notes: @notes_without_tag %>
	</div>
	<div id="target" class="target-table">
		<%= render "notes/arrange_notes_on_table", notes: @notes_with_tag %>					
	</div>
</div>


<%= render 'notes/new_note', note: @note, project_id: @project.id %>


<%= form_tag toggle_tag_note_path, remote: true, id: "tag_form", method: :put do %>
	<%= hidden_field_tag "target_note_id" %>
	<%= hidden_field_tag "tag_id", @tag.id %>
<% end %>

<script type="text/javascript">

function initPage() {
	
	var source = $("#source");
	var target = $("#target");
	var full_table = $(".full-table");
  
    $("#table").css("height", full_table.height()-100);
	source.initializeDivideTable({position: 'left'}).children().initializeDivideNotes();		
	target.initializeDivideTable({position: 'right'}).children().initializeDivideNotes();		

	var delta = parseInt(full_table.css("border-left-width"),10);
	var table_border = parseInt(full_table.css("border-bottom-width"),10);
	
	$("#table").position(
		{
			my: "center bottom",
			at: "center bottom-"+table_border,
			of: full_table,
			collision: "none"

		}
	);
	$(".category-name").position(
		{
			my: "center bottom",
			at: "center top",
			of: target,
			collision: "none"
		}
	);
	$(".not-category").position(
		{
			my: "center bottom",
			at: "center top",
			of: source,
			collision: "none"
		}
	);
	$(".expand-full-screen").position(
		{
			my: "right top",
			at: "right top",
			of: source,
			collision: "none"
		}
	);
	$(".divide").position(
		{
			my: "left top",
			at: "left+"+delta+" top+"+delta,
			of: full_table,
			collision: "none"
		}
	);
	$(".new-note").position(
		{
			my: "center top",
			at: 'center top+'+delta,
			of: full_table,
			collision: "none"
		}
	);	
	$("#dialog_form").css("z-index",99999999);
}
	
$(function (){ 
	initPage();	
	
	$(window).resize(function () {
		initPage();		
	});

});

</script>