



<%= render 'tags/choose_tag', all_tags: @all_tags, project_id: @project.id %>
<%= render 'notes/search_note', project_id: @project.id %>
<button id="enter_new_note" class="new-note">Add a note</button>
<div class="expand-full-screen"><%= link_to(image_tag("fullscreen-close.png", size: "25x25"), project_path({id: @project, pretty: true})) %></div>			
<div class="all-notes">All Notes for <%= link_to @project.name, project_path({id: @project.id, pretty: true}) %></div>
<div id="table" class="note-table">
	<%= render "notes/arrange_notes_on_table", notes: @notes %>
</div>

<%= render 'notes/drag_and_save_position_form', confine_to: "#table"  %>

<%= render 'notes/new_note', note: @note, project_id: @project.id %>


<script>

function initPage() {
	$("#table").initializeTable().children().initializeNotes();		

	var delta = $(".full-table").css("border-left-width");
	$(".expand-full-screen").position(
		{
			my: "right top",
			at: 'right-'+delta+' top+'+delta,
			of: ".full-table",
			collision: "none"
		}
	);
	$(".new-note").position(
		{
			my: "center top",
			at: 'center top+'+delta,
			of: ".full-table",
			collision: "none"
		}
	);

	$(".all-notes").position(
		{
			my: "center bottom",
			at: 'center top+'+delta,
			of: "#table",
			collision: "none"
		}
	);

	$(".search").position(
		{
			my: "right top",
			at: 'left-'+delta+' top',
			of: ".expand-full-screen",
			collision: "none"
		}
	);
	$("#dialog_form").css("z-index",99999999);
}
	
$(function (){ 
	initPage();	
	
	$(window).resize(function () {
		initPage();		
	});
})	;




</script>