<h1>Notes for Project '<%=@project.name%>'</h1>
<p></p>


<div id="table" class="note-table">
	<div class="expand-full-screen"><%= link_to(image_tag("fullscreen-close.png", size: "25x25"), project_path({id: @project, pretty: true})) %></div>			
	<%= render partial: "notes/draggable_postit", collection: @notes %>
</div>

<%= button_to "Create Note", new_project_note_path(@project.id), :method => 'get' %>
<%= link_to "Project", project_path(@project)%> |

<%= form_tag note_position_path, remote: true, id: "position_form", method: :put do %>
	<%= hidden_field_tag "id" %>
	<%= hidden_field_tag "top" %>
	<%= hidden_field_tag "left" %>
<% end %>

<script type="text/javascript">

$(function() {
  $(".draggable").draggable({
  	stack: ".draggable", 
  	containment: "parent",
  	start: function( event, ui) {
  		$(this).draggable( "option", "containment", "#table" );
  	},
  	stop: function( event, ui ) {
  		var id = $(this).attr("note_id");
  		var top = ui.position.top+7.5;   /* position corrections needed to account for rotated postit */
  		var left = ui.position.left-7;
		var zindex = $( this ).css("z-index");
		alert('top = '+top+', left = '+left);
  		$('#id').val(id);
  		$('#top').val(top);
  		$('#left').val(left);
		$('#position_form').submit();
  		$(this).draggable( "option", "containment", "#table" );
  	}
  });
  

});
</script>