
<table>

<tr>
	<td><b>Title:</b></td>
	<td><%= @note.title %></td>
</tr>
<tr>
	<td><b>Location:</b></td>
	<td><%= @note.location %></td>
</tr>
<tr>
	<td><b>Project:</b></td>
	<td><%= link_to @note.project.name, project_path({id: @note.project, pretty: true}) %></td>
</tr>
<tr>
	<td><b>Created:</b></td>
  	<td><%= @note.created_at %></td>
</tr>
<tr>
	<td><b>Updated:</b></td>
  	<td><%= @note.updated_at %></td>
</tr>
</table>
</p>
<b>Content:</b><br/>
  <div id="htmlpreview" class="html">
  	<%= raw @note.content %>
  </div>

<b>Tags:</b><br/>

 <%= render 'tags/tag_list', tags: @tags, all_tags: @all_tags, id: @note.id, style: "combo", resource: "note"%>

