<h1>Project '<%=@project.name%>'</h1>

<%= render 'projects/search', project_id: @project.id, new_filter: @new_filter, filters: @filters %>

<table class="cloud-and-table">
	<tr>
		<td width="30%">
			<table id="tag-list" class="url-list sortable">
			<tr >
				<td style="padding: 5px">
					<%= render 'tags/tag_cloud', :tags => @tags, :tag_numbers => @tag_numbers, :project => @project %>
				</td>
			</tr>
			<tr >
				<td style="padding: 5px">
			<% #render 'tags/tag_list', tags: @all_tags, all_tags: @all_tags, id: @project.id, style: "textbox", resource: "project"%>
			<%= render 'tags/tag_all_notes', style: "combo", all_tags: @all_tags %>
			</tr>
			</table>	
		</td>
		<td>
			<div class="notes-small">
				<%= render 'notes/postits', notes: @notes, search_str: @search_str, search_type: @search_type %>
			</div>
		</td>	
	</tr>
</table>


			<div class="expand-full-screen"><%= link_to(image_tag("expand_full_screen.png", size: "20x20"), project_notes_path({id: @project, pretty: true})) %></div>


<script>
$(function(){
	$('#tag-list').height($('#table-list').height());
	$('#cloud-header').height($('#list-header').height());
	$(".search").position(
		{
			my: "left top",
			at: 'center top',
			of: ".project-table",
			collision: "none"
		}
	);
	$(".expand-full-screen").position(
		{
			my: "right bottom",
			at: 'right top',
			of: ".notes-small",
			collision: "none"
		}
	);
	$("#note_header").position(
  		{
			my: "left bottom",
			at: 'left top',
			of: "div.notes"
  		}
  	);
  	
})
</script>


