<!DOCTYPE html>
<html>
  <head>
    <title>Kaboom: <%= @pagetitle %></title>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag 'application', :media => "all"  %>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'blueprint/print', 'media' => 'print' %>

    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'blueprint/ie' %>
    <![endif]-->
    <!--[if IE]>
      <%= javascript_include_tag 'excanvas' %>
    ![endif]-->

    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="container" class="table">
 		<%= render 'layouts/header' %>
   	    <section class="round">
   	    	<div class="full-table">
 	    		<%= yield %>
    		</div>
 	    </section>
    </div>
      <%= debug(params) if Rails.env.development? %>

        <%= render 'layouts/nojs' %>
    </body>
</html>

